body#tournament-detail {
  background-color: #fafafa;
  color: black !important;

  #main-container {
    .nav-item {
      background-color: gray;
    }

    .table {
      color: black !important;
    }

    .table-striped tbody tr:nth-of-type(2n + 1) {
      background-color: #fafafa !important;
    }
  }
}

@media only screen and (max-width: 500px) {
.nav-tabs{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  justify-content: center;
}
}
