#miniboards {
  margin-top: 20px;
}

#board {
  width: 210px;
  .info {
    display: flex;
    justify-content: space-between;

    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .outcome {
    position: absolute;
    top: 40%;
    left: 70px;
    background-color: white;
    font-weight: 600;
    z-index: 2;
    padding: 5px;
    max-width: 100px;
  }
}
