.home-container {
  width: calc(min(90vw, 1200px));
  margin-top: 10px;
}

.features-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;

  .features-carousel {
    .item {
      height: 300px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .image-container {
        width: 60px;
        border-radius: 50%;
        margin-bottom: 5px;

        img {
          margin: auto;
          height: 100%;
        }
      }

      h3 {
        font-size: calc(min(5vw, 30px));
        font-weight: bold;
      }

      p {
        width: 80%;
        text-align: center;
      }
    }
  }
}

.tournaments-container {
  margin: 50px 0;
  .row {
    justify-content: space-between;
    .column {
      margin: 10px 0px;
      .tournament {
        height: 350px;
        cursor: pointer;

        img {
          width: 100%;
          height: 60%;
          object-fit: cover;
          border-top-left-radius: 35px;
          border-top-right-radius: 35px;
        }

        .content {
          display: flex;
          flex-direction: column;
          height: 40%;
          padding: 10px 15px;

          .first {
            display: flex;
            align-items: center;
            .name {
              font-size: 16px;
              font-weight: bold;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              padding-right: 10px;
            }

            .date {
              color: #bb6565;
              font-weight: bold;
            }
          }

          .second {
            display: flex;
            margin-top: 10px;
            height: 100%;

            .description {
              overflow: hidden;
              text-overflow: ellipsis;
              max-height: 70%;
            }
          }
        }
      }
    }
  }
}

.header {
  font-size: calc(min(6vw, 30px));
  color: #469a88;
  margin: 5px 0;
  font-family: Montserrat;
  font-weight: bold;
}

.box {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  background-color: #f4f4f4;
  transition: box-shadow 0.3s;
}

.escalate:hover {
  box-shadow: 0px 6px 6px 5px rgba(0, 0, 0, 0.25);
}
