#Game-Play {
  background-color: #fafafa;
  color: black;
}

#Game-Play .clock,
#resign-btn,
#draw-btn,
#yes-draw-btn,
#no-draw-btn {
  color: white;
}

#Game-Play  .tournament-link {
  margin: 10px;
}

#Game-Play #content-container {
  max-width: 1200px;
}
#Game-Play #promotion-dialog img,
#promotion-dialog span {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}
#Game-Play #promotion-dialog img {
  width: 80px;
  height: 80px;
}
#Game-Play #promotion-dialog span {
  color: orangered;
  font-size: 18pt;
}
#Game-Play .clock {
  padding: 15px 30px;
  font-size: 5vh; /* Firefox mobile compat */
  font-size: min(28pt, 5vh);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: bold;
}
#Game-Play .clock:not(.running) {
  background: #333;
}
#Game-Play .clock.running {
  background: #2c5236;
}
#Game-Play .btn-container {
  margin-left: 20px;
}
#Game-Play #resign-btn,
#Game-Play #draw-btn,
#Game-Play #yes-resign-btn,
#Game-Play #yes-draw-btn,
#Game-Play #no-resign-btn,
#Game-Play #no-draw-btn {
  display: inline;
}
#Game-Play div.cg-wrap,
#Game-Play cg-container {
  width: 90vh !important; /* Firefox mobile compat */
  width: min(525px, 90vh) !important;
  height: 90vw !important;
  height: min(525px, 90vh) !important;
}
#Game-Play #move-div {
  max-height: 90vh;
  max-height: min(525px, 90vh);
  min-width: 230px;
  overflow-y: auto;
  font-size: 13pt;
  padding-right: 15px;
}
@media screen and (max-width: 992px) {
  #Game-Play #move-div {
    display: none;
  }
}
#Game-Play #move-table td {
  padding-left: 3px;
  padding-right: 12px;
}
#Game-Play .highlight-blue {
  box-shadow: inset 0 0 2px 2px blue;
}
#Game-Play #game-result-div {
  font-size: 24pt;
}
#Game-Play #white-name,
#Game-Play #black-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}
#Game-Play [data-square],
#Game-Play [data-piece] {
  touch-action: none;
}

#Game-Play .play-box {
  padding-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
}

#Game-Play .play-box .user-box {
  display: flex;
  align-items: center;
  height: 50px;
}

#Game-Play .play-box .user-box .user-info {
  display: flex;
  margin: 10px 20px;
}

#Game-Play .play-box .user-box .user-info .name {
  display: flex;
  margin-left: 15px;
}

#Game-Play #outcome-popup .modal-content {
  background-color: #fafafa;
}
