#Game-Lobby .circle-container {
  margin: 20px;
  width: 80px;
}
#Game-Lobby .circle-bottom {
  margin-top: 20px;
  text-align: center;
}
#Game-Lobby #board-container {
  padding-top: 50px;
  padding-right: 150px;
}
#Game-Lobby .names-container {
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
}
@media screen and (max-width: 991px) {
  #Game-Lobby #board-container {
    display: none;
  }
}

#Game-Lobby h1 {
  border-left: 2px solid black;
}

#Game-Lobby {
  background-color: #fafafa;
  color: black;
}