.fide-info {
  .fide-input {
    margin: 20px 0;
  }

  .link {
    margin: 10px 0;
  }
}

form {
  .label {
    display: block;
  }

  .input-group {
    margin: 10px 0;
  }

  p {
    max-width: 650px;
  }
}